
.no-selected-drawing > img {
	margin-inline: auto;
	margin-top: 5%;
	height: auto; 
    width: auto; 
    max-width: 40%; 
}
.no-selected-drawing {
	text-align: center;
}

.no-selected-drawing > span {
	color: rgb(110, 110, 110);
}

.no-selected-drawing > .ant-btn {
	margin-top: 20px;
}

.drawing-attribution {
	color: rgb(110, 110, 110);
	font-size: smaller;
	position: absolute;
	bottom: 0;
	margin-left: 50%;
	transform: translateX(-50%);
}