#settings-container {
	width: 100%;
	padding-inline: 20px;
}

#settings-container .ant-card-head-title {
	text-align: left;
}

.timer {
	text-align: center;
	font-weight: 400;
	font-size: 2em;
}

#timer-wrapper {
	width: 100%;
	text-align: center;
}

.color-div {
	width: 100px;
	height: 32px;
	background-color: red;
	margin-right: 20px;
}

#settings-container .ant-row {
	margin-bottom: 16px;
}