html {
  background-color: #fff;
}

.run-page-wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
  background-color: #fff;
}


.run-page-container {
  height: 100%;
  width: 100%;
}

#map-wrapper {
  width: 100%;
  height: 80%;
  position: relative;
}

#beacons-card {
  /* flex-grow: 4; */
  height: 100%;
}

#stats-wrapper .ant-card-head-title {
  flex: none;
}

#beacons-card .ant-card-body > div {
  display: flex;
  flex-direction: row;
  /* padding-left: 50px; */
  padding-right: 50px;
}

#beacons-progress-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}

#beacons-card .ant-progress-steps {
  /* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%); */
}

#beacons-card .ant-progress-steps-item {
  flex-grow: 1;
}

#beacons-progress-wrapper > span {
  font-size: 3em;
  font-weight: 330;
}

#stats-wrapper {
  margin-top: 20px;
  width: 100%;
  /* max-width: 100%; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; */
}

#time-card {
  height: 100%;
  /* margin-left: 20px;
  flex-grow: 1; */
}

/* .line-break {
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
} */

#speed-card {
  height: 100%;
  /* margin-top: 20px;
	margin-left: 20px;
	height: 300px;
	flex-grow: 1; */
}

#speed-card-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#speed-card .ant-card-body {
  height: calc(100% - 36px);
  position: relative;
}

#distance-card,
#avg-speed-card {
  flex-grow: 1;
}

#table-card {
  height: 100%;
}

#table-card .ant-card-body {
  height: calc(100% - 38px);
  padding: 0;
}

/* #table-card .ant-table-body .ant-table-cell:nth-child(5) {
	text-align: center;
} */

.gauge {
  position: absolute;
  z-index: 800;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  /* border: 1px solid #fff; */
  /* box-shadow: 0px 0px 32px 1px rgba(255, 255, 255, 0.7); */
}

.map-wrapper-dark .gauge {
	background-color: transparent;
}

.map-wrapper-dark  .gauge .ant-progress-text {
	/* color: #fff !important; */
	color: #fff;
  }

.gauge .ant-progress-text {
  /* color: #fff !important; */
  font-weight: 500 !important;
}

#speed-gauge {
  top: 20px;
  left: 20px;
}

#distance-gauge {
  top: 20px;
  right: 20px;
}

#beacon-gauge {
  bottom: 20px;
  left: 20px;
  width: 40%;
  background-color: transparent;
}

#beacon-gauge .ant-progress {
  width: 100%;
}
#beacon-gauge .ant-progress-steps-item {
  flex-grow: 1;
}


#form-card .anticon-star {
	transform: scale(2);
	margin-inline: 10px;
}

#reticle {
	height: 60px;
	width: 60px;
	/* background-color: red; */
	left: -100px;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.map-wrapper-dark .leaflet-container {
	cursor: url("../assets/reticle40.png") 20 20, auto;
}

.map-wrapper-dark .leaflet-marker-icon:hover {
	cursor: none !important;
}

.map-wrapper-dark #tooltip {
	position: absolute;
	width: 200px;
	/* height: 100px; */
	background-color: rgba(17, 17, 17, 0.705);
	color: #fff;
	text-align: left;
	padding: 10px;
	left: -400px;
}

#tooltip strong {
	font-size: 1.2em;
}

.map-wrapper-dark .typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .25em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	margin-left: 0;
	letter-spacing: .1em; /* Adjust as needed */
	animation: 
	  typing .4s steps(40, end),
	  blink-caret .75s step-end infinite;
	  margin-bottom: 10px;
  }

  /* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgb(7, 181, 204); }
  }

  #map-switch {
	  position: absolute;
	  bottom: 30px;
	  right: 20px;
	  z-index: 800;
  }

  #map-switch .ant-switch:not(.ant-switch-checked) {
	  background-color: rgb(255 255 255 / 77%);
  }

  .smiley-rating {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
  }

  .smiley-rating img {
	  width: 50px;
	  filter: grayscale(100%);
	  margin: 0 4px 0 4px;
	  transition: all .05s linear;
  }

  .smiley-rating img:hover{
	transform: scale(1.1);
	filter: grayscale(0%);
	cursor: pointer;
}

.smiley-rating .selected {
	filter: grayscale(0%);
	}


